연습문제 2

Q 1)

In [2]:
a = 80
b = 75
c = 55
(a+b+c)/3

70.0

Q 2 )

In [3]:
1 % 2

1

In [4]:
2 % 2

0

In [5]:
3 %2

1

In [6]:
4 % 2

0

In [7]:
13 % 2

1

자연수를 2로 나누었을 때 홀수일시 1, 짝수일시 0을 돌려주었다. 그리고 13을 2로 나누었을때 1이 나왔으므로 13은 홀수이다.

Q 3 )

In [8]:
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)

881120

In [9]:
print(num)

1068234

Q 4)

In [10]:
pin = "881120-1068234"
print(pin[7])

1

In [11]:
pin = "881120-2068234"
print(pin[7])

2

하이픈을 포함해서 8번째 숫자가 성별을 나타내므로 1일때 남자, 2일때 여자를 나타낸다

Q 5 )

In [12]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

Q 6 )

In [16]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

Q 7 )

In [15]:
a = ['Life', 'is', 'too', 'short']
result = " ". join(a)
print(result)

Life is too short

Q 8 )

In [18]:
a = (1,2,3)
a = a+(4,)
print(a)

(1, 2, 3, 4)

Q 9 )

In [34]:
a = dict()
a

{}

In [27]:
a['name'] = 'python'
a

{'name': 'python'}

In [28]:
a[('a',)] = 'python'
a

{'name': 'python', ('a',): 'python'}

In [29]:
a[[1]] = 'python'
a

TypeError: unhashable type: 'list'

In [31]:
a[250] = 'python'
a

{'name': 'python', ('a',): 'python', 250: 'python'}

3번째 예에서만 오류가 발생한다. 오류가 발생하는 이유는 딕셔너리의 키로는 변하는 값을 사용할 수 없기 때문이다. 위 예에서 키로 사용된 [1]은 리스트이므로 변하는 값이다. 다른 예에서 키로 사용된 문자열, 튜플, 숫자는 변하지 않는 값이므로 딕셔너리의 키로 사용이 가능하다.

Q 10 )

In [35]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

Q 11 )

In [36]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

Q 12 )

In [41]:
a=b=[1,2,3]
a[1]=4
print(b)

[1, 4, 3]

In [42]:
a=b=[1,7,3]
a[1]=4
print(b)

[1, 4, 3]

a의 두번째 요솟값을 변경해도 b의 값은 여전히 [1,4,3]을 출력한다. 왜냐하면 a와 b 두 변수는 모두 동일한 [1,2,3]이라는 리스트 객체를 가리키고 있기 때문이다.

연습문제 3.

Q 1.

In [43]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

결과값으로 shirt가 출력된다.
첫 번째 조건: "wife"라는 단어는 a 문자열에 없으므로 거짓이다.
두 번째 조건: "python"이라는 단어는 a 문자열에 있지만 "you" 역시 a 문자열에 있으므로 거짓이다.
세 번째 조건: "shirt"라는 단어가 a 문자열에 없으므로 참이다.
네 번째 조건: "need"라는 단어가 a 문자열에 있으므로 참이다.
가장 먼저 참이 되는 것이 세 번째 조건이므로 "shirt"가 출력된다.

Q 2.

In [49]:
result=0
i=1
while i <= 1000:
    if i% 3==0:
        result +=i
    i+=1

print(result)

166833

Q 3.

In [51]:
i=0
while True:
    i+= 1
    if i > 5: break
    print('*' * i)

*
**
***
****
*****

Q 4.

In [52]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

Q 5.

In [59]:
A=[70,60,55,75,95,90,80,80,85,100]
total=0

for score in A:
    total += score
    
average=total/len(A)
print(average)

79.0

Q 6.

In [66]:
numbers=[1,2,3,4,5]

result=[]
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
        print(result)

[2]
[2, 6]
[2, 6, 10]

리스트 내포를 사용하여 표현하면 아래와 같이 된다.

In [65]:
numbers=[1,2,3,4,5]
result=[n*2 for n in numbers if n%2==1]
print(result)

[2, 6, 10]